* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

:root {
  /* main color  */
  --main-color-100: #ffe9ab;
  --main-color-200: #ffe089;
  --main-color-300: #ffd767;
  --main-color-400: #ffce45;
  --main-color: #ffc524;
  --main-color-600: #e9ab00;
  --main-color-700: #e0a400;
  --main-color-800: #e0a400;
  --main-color-900: #b38300;

  /* gray color  */

  --gray-color-100: #e1e1e2;
  --gray-color-200: #cccccf;
  --gray-color-300: #a4a4a9;
  --gray-color-400: #909096;
  --gray-color-500: #7c7c83;
  --gray-color-600: #69696f;
  --gray-color-700: #56565b;
  --gray-color-800: #434347;
  --gray-color-900: #161618;

  /* natural color  */

  /* font-size  */
  --text-size: 18px;
  --title-size: 32px;
  --item-size: 24px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(36, 36, 36);
  color: #fff;
}

.cover {
  min-height: 40vh;
  background-color: rgb(15, 15, 15);
  padding: 1rem 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main {
  padding: 0 2rem;
  max-width: 1200px;
  margin: auto;
  padding: 1rem 15px;
}

.cover .title {
  font-size: var(--title-size);
  font-weight: 400;
  margin-bottom: 1rem;
}

.logo {
  color: var(--main-color);
  font-weight: 700;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
}

.search-bar input {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: var(--gray-color-900);
  box-shadow: 1px 1px 8px -2px var(--main-color);
  width: 100%;
  color: #fff;
  font-size: var(--text-size);
  transition: 0.5s all;
  padding: 7px 10px;
}

.search-bar input:focus {
  box-shadow: 1px 1px 10px 0px var(--main-color);
}

.search-bar box-icon {
  fill: #e0a400;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: gray;
  font-size: 18px;
  cursor: pointer;
}

/*---- categories button ----*/
.categories {
}

.categories button {
  font-size: var(--text-size);
  background-color: var(--gray-color-100);
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin: 10px;
}

.categories button:hover {
  background-color: var(--gray-color-200);
}

.main h2 {
  font-size: 16px;
  font-weight: 300;
}
