* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

:root {
  /* main color  */
  --main-color-100: #ffe9ab;
  --main-color-200: #ffe089;
  --main-color-300: #ffd767;
  --main-color-400: #ffce45;
  --main-color: #ffc524;
  --main-color-600: #e9ab00;
  --main-color-700: #e0a400;
  --main-color-800: #e0a400;
  --main-color-900: #b38300;

  /* gray color  */

  --gray-color-100: #e1e1e2;
  --gray-color-200: #cccccf;
  --gray-color-300: #a4a4a9;
  --gray-color-400: #909096;
  --gray-color-500: #7c7c83;
  --gray-color-600: #69696f;
  --gray-color-700: #56565b;
  --gray-color-800: #434347;
  --gray-color-900: #161618;

  /* background-color  */
  --bg-color: #0f0f0f;

  /* natural color  */

  /* font-size  */
  --text-size: 18px;
  --title-size: 32px;
  --subtitle-size: clamp(28px, 3vw, 20px);
  --item-size: 24px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--gray-color-900);
  color: #fff;
}

.cover {
  min-height: 40vh;
  background: linear-gradient(to right, #0f0f0f, #2f2f30, #0f0f0f);
  padding: 1rem 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main {
  padding: 0 2rem;
  max-width: 1200px;
  margin: auto;
  padding: 1rem 15px;
}

.cover .title {
  font-size: var(--title-size);
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.logo {
  color: var(--main-color);
  font-weight: 700;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
}

.search-bar input {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: var(--gray-color-900);
  box-shadow: 1px 1px 8px -2px var(--main-color);
  width: 100%;
  color: #fff;
  font-size: var(--text-size);
  transition: 0.5s all;
  padding: 7px 10px;
}

.search-bar input:focus {
  box-shadow: 1px 1px 10px 0px var(--main-color);
}

.search-bar box-icon {
  fill: #e0a400;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: gray;
  font-size: 18px;
  cursor: pointer;
}

/*---- categories button ----*/
.categories {
  margin-top: 1rem;
}

.categories button {
  font-size: var(--text-size);
  background-color: var(--gray-color-300);
  padding: 3px 12px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin: 10px;
}

.categories button:hover {
  background-color: var(--gray-color-200);
}

/*---- images display ---- */

.image-display {
  padding: 2rem 10px;
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100vh;
  display: block;
}
.image-display h2 {
  font-size: 16px;
  font-weight: 300;
}
.images-container {
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  grid-auto-flow: auto; */
  gap: 0.5rem;
  min-height: 70vh;
  columns: 5 200px;
}

.image-box {
  position: relative;
  height: max-content;
  overflow: hidden;
  cursor: pointer;
  margin-top: 0.5rem;
}

.image-info {
  display: flex;
  position: absolute;
  background-color: #16161841;
  bottom: -3.5rem;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  transition: all 0.5s;
  align-items: center;
  gap: 0.3rem;
  z-index: 100;
}

.image-box:hover .image-info {
  bottom: 0;
}

.image-info h2 {
  color: var(--gray-color-100);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-clamp: 2;
  font-size: var(--text-size);
}

.images-container .image {
  width: 100%;
  height: 100%;
}

.images-container .image img {
  width: 100%;
}

/* ======== image gallery modal ======== */
.gallery-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.626);
  visibility: collapse;
  z-index: 999;
}

.gallery-modal.active {
  visibility: visible;
}

.modal-box {
  display: flex;
  row-gap: 2rem;
  column-gap: 3rem;
  justify-content: flex-end;
  max-width: 900px;
  width: 100%;
  background: linear-gradient(to top, #0f0f0f, #252526, #0f0f0f);
  padding: 2rem 16px;
  border-radius: 10px;
  overflow-y: auto;
  height: 100%;
  max-height: 95vh;
  scrollbar-width: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: nowrap;
}
.image-and-title {
  width: 100%;
  max-width: 500px;
}

.modal-image-title h2 {
  font-size: var(--subtitle-size);
  color: var(--gray-color-100);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.modal-image img {
  width: 100%;
}

.modal-image-buttons {
  column-gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  width: auto;
}

/* ======= Navigattion Buttons ======= */
.prev_next-navigator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.pages .page {
  background-color: var(--gray-color-900);
  /* border-radius: 50%; */
  padding: 2px 4px;
  font-size: 14px;
  width: 25px;
  text-align: center;
  color: #161618;
  font-weight: 600;
  cursor: pointer;
  color: var(--gray-color-100);
  opacity: 0.2;
  transition: all 0.5s;
}

.pages .page:hover {
  opacity: 0.5;
}
.pages .page.active {
  background-color: var(--gray-color-900);
  color: var(--gray-color-100);
  opacity: 1;
}

/* footer and copyright */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--gray-color-100);
  padding: 10px;
}

.copyright {
  font-size: 14px;
  color: var(--gray-color-300);
}

.copyright a {
  color: var(--gray-color-100);
}

@media (max-width: 760px) {
  .modal-box {
    flex-direction: column-reverse;
    align-items: center;
    max-height: 100%;
    padding: 3rem 16px;
  }

  .modal-image-buttons {
    max-width: 500px;
    width: 100%;
    justify-content: end;
  }
}
