* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

:root {
  /* main color  */
  --main-color-100: #ffe9ab;
  --main-color-200: #ffe089;
  --main-color-300: #ffd767;
  --main-color-400: #ffce45;
  --main-color: #ffc524;
  --main-color-600: #e9ab00;
  --main-color-700: #e0a400;
  --main-color-800: #e0a400;
  --main-color-900: #b38300;

  /* gray color  */

  --gray-color-100: #e1e1e2;
  --gray-color-200: #cccccf;
  --gray-color-300: #a4a4a9;
  --gray-color-400: #909096;
  --gray-color-500: #7c7c83;
  --gray-color-600: #69696f;
  --gray-color-700: #56565b;
  --gray-color-800: #434347;
  --gray-color-900: #161618;

  /* background-color  */
  --bg-color: #0f0f0f;

  /* natural color  */

  /* font-size  */
  --text-size: 18px;
  --title-size: 32px;
  --subtitle-size: clamp(28px, 3vw, 20px);
  --item-size: 24px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--gray-color-900);
  color: #fff;
}
